
~v1.63 Redscript Syntax Mod Examples/
~v1.63 Source Code Scripts/
~1.63 AI Reds Examples - text file/

ArchiveXL.reds

TweakXL.reds

# Development crib sheets and analysis files
1.63_Best_Practices_Crib_Sheet.md